@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}

:root{

--cor1:#ffffFF;
--cor2:#000000;
--cor3:#7ebadd;
--cor4:#ffffff;

}
body{
    color: var(--cor2);
    background: var(--cor1);   
}
.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 40px;
    box-shadow: 0 0.1rem 0.5rem #ccc;
    width: 100%;
    background: var(--cor1);
    transition: all 0.5s;
}
.navigation.logo{
    color: var(--cor3);
    font-size: 1.7rem;
    font-weight: 600;
}
logo.span{
    color: var(--cor2);
}
.navigation ul{
    display: flex;
    align-items: center;
    gap: 5rem;
}
.navigation ul li a {
    color: var(--cor2);
    font-size: 17px;
    font-weight: 500;
    transition: all 0.5s;
    
}