@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
  /*  padding: 0; */
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}
:root{
    --red:#000000;
    --white:#fff;
    --dark:#1e1c2a;
    --btn:#0f2edb;
}

html{
    background-image: url(https://s3.sa-east-1.amazonaws.com/arquivos.padrepauloricardo.org/uploads/episodio/share_image/2232/233-novena-pelo-brasil-frame-2.jpg);
    background-repeat: no-repeat;
    background-size: 2000px 1200px;
}

/*background do site*/
body{
    color: var(--dark);
    
    height: auto;
}
/*nav bar*/
.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 40px;
    background: #0000006e;
    width: 100%;
    transition: all 0.5s; 
}
.navigation .logo{
    color: var(--red);
    font-size: 1.7rem;
    font-weight: 600;
}
.logo span{
    color: var(--dark);
}
.navigation ul{
    display: flex;
    align-items: center;
    gap: 5rem;
}
.navigation ul li a{
    color:#ffffff;
    font-size: 17px;
    font-weight: 500;
    transition: all 0.5s;
}
.navigation ul li a:hover{
    color: var(--red);
}
.navigation i{
    cursor: pointer;
    font-size: 1.5rem;
}
.menu{
    cursor: pointer;
    display: none;
}
.menu .bar{
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 3px;
    background: var(--dark);
    margin: 5px auto;
    transition: all 0.3s;
}
.menu .bar:nth-child(1),
.menu .bar:nth-child(3){
    background: var(--red);
}
.home{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10%;
}
.home-text{
    max-width: 37rem;
}
.home-text .text-h4{
    font-size: 1.5rem;
    color: var(--red);
    margin-bottom: 1rem;
}
.home-text .text-h1{
    font-size: 4rem;
    margin-bottom: 1rem;
    line-height: 4rem;
}
.home-text p{
    margin-bottom: 4rem;
}
.home-btn{
    padding: 15px 45px;
    background: var(--btn);
    color: var(--white);
    border-radius: 10px;
    font-weight: 700;
    transition: all 0.5s;
}
.home-btn:hover{
    background: #d7d5db;
}
.home-img img{
    width: 100%;
}

@media (max-width:785px) {
    .navigation{
        padding: 18px 20px;
    }
    .menu{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: space-around;
    }
    .menu.ativo .bar:nth-child(1){
        transform:  translateY(8px) rotate(45deg);
    }
    .menu.ativo .bar:nth-child(2) {
        opacity: 0;
    }
    .menu.ativo .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu{
        position: fixed;
        right: -100%;
        top: 0px;
        width: 100%;
        height: 100%;
        flex-direction: column;
        background: #242424;
        gap: -10px;
        transition: 0.3s;
    }
    .nav-menu.ativo{
        right: 0;
    }
    .nav-item{
        margin: 16px 0;
    }
    /*main*/
    .home{
        padding: 100px 2%;
        flex-direction: column;
        text-align: center;
        overflow: hidden;
        gap: 5rem;
    }
    .home .text-h4{
        font-size: 15px;
    }
    .home .text-h1{
        font-size: 2.5rem;
        line-height: 3rem;
    }
    .home p{
        font-size: 15px;
    }
    .home-img{
        width: 125%;
    }
}
/* logo nav */

#logo24{
    width: 75px;
}

/* cadastro */

    .cad-form{
        text-align: center;
        margin-top: -149px;
    }
    
    fieldset {
        display: inline-block;
        margin: auto;
        justify-content: center;
        text-align:center;
        vertical-align:middle;
    }

/* contato */

section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px 45px;
    background: #ffffff5e;
    width: 400px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px 10px 10px 10px ;
}
.contato{
    margin-top: -123px;
}

section h2{
    color: #292828;
    font-size: 2.5rem;
    margin: 2rem;
}
section form{
    display: flex;
    flex-direction: column;
    width: 100%;
}
form label{
    color: #000000;
    font-size: 17px;
    margin-bottom: 4px;
}
form input{
    padding: 15px;
    outline-color: #1b6dd8 ;
    border-color: #000000;
    border-radius: 16px;
    margin-bottom: 20px;
    font-size: 15px;
    transition: all 0.5s;
}
form input:focus{
    border-radius: 16px;
}
form textarea{
    padding: 10px;
    outline-style: none;
    border-color: #000000;
    border-radius: 16px;
    font-size: 15px;
    margin-bottom: 30px;
    transition: all 0.5s;
}
form textarea:focus{
    border-radius: 16px;
}
form button{
    padding: 15px;
    cursor: pointer;
    font-size: 16px;
    background: transparent;
    border: 2px solid #000000;
    color: #000000;
    transition: all 1s;
    margin-bottom: 20px;
}
form button:hover{
    background: #1b6dd8;
    color: #101026;
    border-radius: 16px;
}

/*Pagina do Obrigado*/

.agradecimento{
   display: flex;
   align-items: center;
   justify-content: center;
   min-height: 100vh;
   background: #ffffff;
   flex-direction: column;
}
.text{
    font-size: 45px;
    color: #1b6dd8;
    margin-bottom: 30px;
    text-align: center;
}
.paragrafo{
    color: #000000;
    margin-bottom: 50px;
}
.btn{
    padding: 15px 55px;
    background: #1b6dd8;
    text-decoration: none;
    color: #000000;
    font-size: 18px;
    transition: all 0.5s;
}
.btn:hover{
    border-radius: 16px;
}

.home-btn{
    margin: auto;
    width: 60%;

}

   

